<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script>

        var ws = new WebSocket('ws://localhost:8080/ws')

        ws.onopen = function() {
        document.getElementById("status").innerHTML = "Connected.";
        }
        ws.onmessage = function(event) {
            var data = event.data;
            console.log(data);
            document.getElementById("response").innerHTML = data;
        }
        ws.onclose = function() {
        document.getElementById("status").innerHTML = "Disconnected.";
        }
        function myMessage() {
        var text = document.getElementById("FirstName").value;
        ws.send(text);
        }
    </script>

</head>
<body>
<h1>A Web Page</h1>
<button type="button" onclick="myFunction()">Connect WebSocket</button>

<p id="status">Status</p>


<form name="form" id="form" method="post" action="">
    <p class="FirstName">
        <label for="FirstName">Message to Echo:</label>
    </p>
    <p>
        <input name="FirstName" type="text" id="FirstName" />
    </p>
    <p class="submit">
        <input name="submitButton" type="button" id="submitButton" value="Echo" onClick="myMessage()" />
    </p>
</form>

<p id="response">Response goes here</p>
</body>
</html>